<form class="navbar-form navbar-right" role="search">
  <div class="form-group">
    <label>Summary Type: </label>
      <select class="form-control" name="summary">
          <option >Small</option>
          <option >Small</option>
      </select>
  </div>

  <div class="form-group">
    <label>Currency: </label>
    <select class="form-control" name="money">
        <option >USD</option>
        <option >VND</option>
    </select>
  </div>
  </form>
  <div class="clearfix"></div>
