<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
  <div class="thumbnail">
      <img src="assets/images/course/{{ courseObj.picture }}" alt="{{ courseObj.picture }}">
      <div class="caption">
          <h3><a href="#">{{courseObj.name | courseCapitalize }}</a></h3>
          <p>{{ courseObj.summary | courseSummaryString:typeSummary }}</p>
          <p [innerHTML]="courseObj.cat | courseCategory">
          </p>
          <p class="text-right">
            <template [ngIf]="typeCurrency==='usd'">
                <a href="#" class="btn btn-danger" role="button">{{courseObj.price | currency:typeCurrency:true:'2.0-3'}} USD</a>
            </template>
            <template [ngIf]="typeCurrency==='vnd'">
                <a href="#" class="btn btn-danger" role="button">{{(courseObj.price * 22700) | currency:typeCurrency:true:'2.0-0'}} VND</a>
            </template>
          </p>
      </div>
  </div>
</div>
